body {
    background-color: #002b36;
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 550px;
}

h3, input {
    color: #b58900;
    font-size: 18px;
    background: none;
    border: none;
    width: 520px;
}

form {
    display: inline;
}
